.review__container{
    row-gap: 1.5em;
    display: flex;
    margin-top:100px ;
    align-items: center;
    padding: 3em 1em;
    flex-direction: column;
    background-color: #AD89EF80;
}
.review__container > h2 {
    padding: 20px;
    font-family: poppins;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    line-height: 83.52px;
}
.review__container >img {
    /* justify-content: center; */
    padding: 20px;
    
}