@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
.home__hero-section{
    background-color: rgba(173, 137, 239, 0.5);
    padding: 160px 0;
}
.hero-section__container {
    z-index: 1;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 30px;
    padding-left: 30px; */
  }
.home__hero-row {
    align-items: center;
  }
  
  .hero-section__row {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .hero-section__col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 698px;
    width: 100%;
    flex-basis: 50%;
  }
  
  .home__hero-text-wrapper {
    width: 100%;
    max-width: 698px;
    min-height: 268px;
    padding-bottom: 60px;
  }
  

  .heading {
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 83.52px;
    font-weight: 600;
    font-family: poppins;
    color: #212135;

  }
  
  .dark {
    color: #1c2237;
  }
  
  .lightBg {
    background-color: #fff;
  }
  .flex {
    margin-right: 30px;
  }
  .home__hero-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    line-height: 27px;
  }
  
  .home__hero-img-wrapper {
    max-width: 555px;
  }
  
  .home__hero-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  button.btn.btn--primary.btn--medium.red{
    margin-left: 110px;
    margin-bottom: 11px;
    background: red;
    font-family: poppins;
  }
  
  @media screen and (max-width: 991px) {
    .hero-section__container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
    .hero-section__row {
      row-gap: 3em;
flex-direction: column;
    }

    .home__hero-text-wrapper {
     margin: 0 auto;
     text-align: center;
    }

    .home__hero-text-wrapper img {
       text-align: center;
       margin: 1em auto;
    }
  
    .hero-section__col {
      max-width: 100%;
      flex-basis: 100%;
    }
    button.btn.btn--primary.btn--medium.red{
      margin-left: 0;
      text-align: center;
    }
  }